.art-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.art-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #E7ECEF;
  background-color: #000;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.art-card.zoomed {
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.art-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.art-card img.zoomed {
  width: 200%;
  height: auto;
  cursor: zoom-out;
}

.art-info {
  padding-left: 15px;
  padding-right: 100px;
  margin-top: -15px;
  font-family: system-ui;
  font-size: 25px;
}

.tags {
  color: #888;
  font-size: 20px;
}
