.art-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #E7ECEF;
  background-color: #000;
}

.art-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

img:hover {
  cursor: zoom-in; 
}

img.clicked {
  transform: scale(2) translate(25%, 25%);
  overflow:scroll;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

