.art-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100vh;
  border: 3px solid #E7ECEF; /* or whatever color you want */
  background-color: #000;    /* optional: so border stands out against image */
}

img {
  max-width: 90vw;
  max-height: 90vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  overflow: hidden;
}

img:hover {
  cursor: zoom-in; 
}

img.clicked {
  transform: scale(2) translate(25%, 25%);
  overflow:scroll;
  scrollbar-color: #888 #f1f1f1; /* thumb color, then track color */
  scrollbar-width: thin; /* or auto, none */
}