.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawer-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.buttons {
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow:-2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.navigation {
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 1px;
  display: flex;
  font-family: Impact;
  font-size: 100px;
  letter-spacing: -35px;
  color: white;
  text-shadow:-2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  white-space: nowrap;
  padding-top: 50px;
  background-image: radial-gradient(rgba(50,50,200,1),rgba(25,25,150,1));
}

.navigation:hover {
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-image: radial-gradient(rgba(100,100,250,1),rgba(75,75,200,1));
}

.close {
  position: absolute;
  background-color: beige;
  top: 10px;
  left: 97%;
  font-family: Impact;
}