.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drawer-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  font-family: Anton;
  text-shadow:-2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.navigation {
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 1px;
  display: flex;
  font-family: 'Anton';
  font-size: 100px;
  letter-spacing: -60px;
  color: white;
  text-shadow:-2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  white-space: nowrap;
  padding-top: 50px;
  background-image: radial-gradient(#6096BA, #274C77);
}

.navigation:hover {
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-image: radial-gradient(#74a0bd,#325275);
}

.close {
  position: absolute;
  background-color: beige;
  top: 10px;
  left: 97%;
  font-family: Anton;
}

.open-button {
  color: white;
  position: relative;
  z-index: 2;
}
